@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #f5f5f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.text-high-contrast {
  color: #000000;
}

.text-high-contrast-dark {
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .text-high-contrast {
    color: #ffffff;
  }
}
